<div class="container">
  <div class="row">
    <div class="col box">
      <form [formGroup]="demandForm" (ngSubmit)="onSubmit()" class="form-container">
        <h2>Create Collection Demand</h2>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Select Apartments</mat-label>
          <mat-select formControlName="apartmentName" multiple>
            <div class="select-all-option">
              <mat-checkbox [checked]="allSelected"
                [indeterminate]="demandForm.get('apartmentName')?.value?.length > 0 && !allSelected"
                (change)="toggleAllSelection()" class="select-all-checkbox">
                Select All
              </mat-checkbox>
            </div>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let apartment of apartments" [value]="apartment">
              {{apartment}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="demandForm.get('apartmentName')?.errors?.['required'] && demandForm.get('apartmentName')?.touched">
            Please select at least one apartment
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="amount" placeholder="Enter amount">
          <mat-error *ngIf="demandForm.get('amount')?.errors?.['required'] && demandForm.get('amount')?.touched">
            Amount is required
          </mat-error>
          <mat-error *ngIf="demandForm.get('amount')?.errors?.['min'] && demandForm.get('amount')?.touched">
            Amount must be greater than 0
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Request For Date</mat-label>
          <input matInput type="date" formControlName="requestForDate">
          <mat-error
            *ngIf="demandForm.get('requestForDate')?.errors?.['required'] && demandForm.get('requestForDate')?.touched">
            Request date is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Due Date</mat-label>
          <input matInput type="date" formControlName="dueDate">
          <mat-error *ngIf="demandForm.get('dueDate')?.errors?.['required'] && demandForm.get('dueDate')?.touched">
            Due date is required
          </mat-error>
        </mat-form-field>

        <div class="form-field radio-group">
          <label class="radio-group-label">Collection Type</label>
          <mat-radio-group formControlName="forWhat" class="radio-buttons">
            <mat-radio-button *ngFor="let type of collectionTypeOptions"
              [value]="type.value">{{type.label}}</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="demandForm.get('forWhat')?.errors?.['required'] && demandForm.get('forWhat')?.touched">
            Collection type is required
          </mat-error>
        </div>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Comment</mat-label>
          <textarea matInput formControlName="comment" placeholder="Enter comment" rows="1"></textarea>
        </mat-form-field>

        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="demandForm.invalid">
            Create Demand
          </button>
        </div>
      </form>
    </div>
    <div class="col box">
      <h2>Collection Statistics</h2>
      <app-collection-chart [chartData]="chartData"></app-collection-chart>
    </div>
  </div>
  <div class="box full-width">
    Full Width Content
  </div>
</div>
