<div class="layout-container">
  <mat-toolbar class="topbar">
    <mat-toolbar-row>
      <div id="logo">
        <mat-icon class="logo-icon">domain</mat-icon>
        <span>Sri Sai Avenue</span>
      </div>
      <span class="fill-remaining-space"></span>
      <div id="Member-menu">
        <nav class="nav-links">
          <a mat-button routerLink="/dashboard">
            <mat-icon>grid_view</mat-icon>
            <span class="desktop-only">Dashboard</span>
          </a>
          <a mat-button [matMenuTriggerFor]="configMenu" aria-label="Configuration" *ngIf="isAdmin$ | async">
            <span class="desktop-only">Configuration</span>
            <mat-icon>settings</mat-icon>
          </a>
        </nav>
      </div>

      <span class="fill-remaining-space"></span>
      <div id="user-menu">
        <button mat-fab [matMenuTriggerFor]="menu" aria-label="User Menu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <mat-menu #configMenu="matMenu">
      <button mat-menu-item routerLink="/register">Register User</button>
      <button mat-menu-item routerLink="/apartment">Apartment</button>
    </mat-menu>
  </mat-toolbar>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>
