<div class="login-container">
  <div class="login-form">
    <div class="left-section">
    </div>
    <div class="right-section">
      <h2>Welcome to SaiAvenue</h2>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" id="userId" name="userId" [(ngModel)]="credentials.userId" placeholder="Mobile Number"
            required>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" [(ngModel)]="credentials.password" placeholder="Password"
            required>
        </div>
        <button type="submit" class="signin-button" [disabled]="loginForm.invalid || submitting">Sign In</button>
        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
  <svg width="0" height="0">
    <defs>
      <clipPath id="waveClip" clipPathUnits="objectBoundingBox">
        <!-- The path uses 0→1 coordinates instead of px -->
        <path d="M0,0 L1,0 C0.8,0.3 0.8,0.7 1,1 L0,1 Z" />
      </clipPath>
    </defs>
  </svg>
</div>