/* Apartment component styles */
.apartment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 1rem;
}

.row {
  width: 80%;
  flex: 1;
  border: 1px solid #ccc;
  margin: 0.5rem;
  padding: 1rem;
}

#Input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 50%;
  /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  /* Center the form container */
}

.form-group {
  width: 100%;
  margin-bottom: 0.5rem;
  /* Reduced spacing */
}
