<div class="apartment">
  <div id="Input" class="row top-row">
    <form (ngSubmit)="onSubmit()" class="form-container">
      <div class="form-group">
        <mat-form-field [floatLabel]="floatLabel()">
          <mat-label>Flat Number</mat-label>
          <input matInput [(ngModel)]="flatNo" name="flatNo" required placeholder="Enter flat number">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field [floatLabel]="floatLabel()">
          <mat-label>Owner</mat-label>
          <mat-select [(ngModel)]="selectedOwnerId" name="owner" required placeholder="Select Owner">
            <mat-option *ngFor="let user of owners" [value]="user.userId">
              {{user.firstName}} {{user.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Renter Select -->
      <div class="form-group">
        <mat-form-field [floatLabel]="floatLabel()">
          <mat-label>Renter</mat-label>
          <mat-select [(ngModel)]="selectedRenterId" name="renter" placeholder="Select Renter">
            <mat-option *ngFor="let user of renters" [value]="user.userId">
              {{user.firstName}} {{user.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-footer mt-4">
        <button mat-raised-button color="primary" type="submit" class="submit-button">
          Save Apartment
        </button>
      </div>
    </form>
  </div>
  <div id="List" class="row bottom-row">
    List
  </div>
</div>
