<div class="apartment">
  <div id="Input" class="row top-row">
    <form [formGroup]="apartmentForm" (ngSubmit)="onSubmit()" class="form-container">
      <div class="form-group">
        <mat-form-field [floatLabel]="floatLabel()">
          <mat-label>Flat Number</mat-label>
          <input matInput formControlName="flatNo" placeholder="Enter flat number">
          <mat-error *ngIf="apartmentForm.get('flatNo')?.errors?.['required'] && apartmentForm.get('flatNo')?.touched">
            Flat number is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field [floatLabel]="floatLabel()">
          <mat-label>Owner</mat-label>
          <mat-select formControlName="ownerId" placeholder="Select Owner">
            <mat-option *ngFor="let user of owners" [value]="user.userId">
              {{user.firstName}} {{user.lastName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="apartmentForm.get('ownerId')?.errors?.['required'] && apartmentForm.get('ownerId')?.touched">
            Owner selection is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field [floatLabel]="floatLabel()">
          <mat-label>Renter</mat-label>
          <mat-select formControlName="renterId" placeholder="Select Renter">
            <mat-option *ngFor="let user of renters" [value]="user.userId">
              {{user.firstName}} {{user.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-footer mt-4">
        <button mat-raised-button color="primary" type="submit" class="submit-button" [disabled]="apartmentForm.invalid">
          Save Apartment
        </button>
      </div>
    </form>
  </div>
  <div id="List" class="row bottom-row">
    List
  </div>
</div>
