<!-- SVG Definition for Clip Path -->
<svg width="0" height="0">
  <defs>
    <clipPath id="leftPanelCurve" clipPathUnits="objectBoundingBox">
      <path d="M 0 0 L 1 0 C 0.9 0.25, 1.1 0.75, 0.85 1 L 0 1 Z" /> <!-- S-shape Cubic Bezier curve -->
    </clipPath>
  </defs>
</svg>

<div class="login-container">
  <div class="login-card">
    <div class="left-section">
      <div id="text">
        <div id="mainText" class="mainText">
          <h1>My Society Hub</h1>
        </div>
        <div id="subText" class="subText">
          <h4>Simplifying Society Living, One Click at a Time!</h4>
        </div>
      </div>
    </div>
    <div class="right-section">
      <form [formGroup]="loginForm" class="login-form">
        <mat-form-field [floatLabel]="floatLabel()" style="width: 80%">
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="Enter your mobile number" type="text" formControlName="mobileNumber">
        </mat-form-field>

        <mat-form-field [floatLabel]="floatLabel()" style="width: 80%">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'"
            formControlName="password">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button mat-raised-button color="primary" class="login-button" (click)="login()" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>
    </div>
  </div>
</div>