.expense-table {
  width: 100%;
  margin-top: 1rem;
}


.mat-mdc-footer-row {
  font-weight: bold;
  background-color: #f5f5f5;
}

.mat-mdc-footer-cell {
  padding: 8px 16px !important;
}

.mat-mdc-footer-cell span {
  display: block;
  text-align: right;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}
